{% extends 'qracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add funds
{% endblock %}

{% block body_block %}
    <br>
	<h1>Add funds</h1>
	<form role="form" id="add_funds" method="post" action="/userprofile/addfunds/">
		{% csrf_token %}

		<label for="amount">Please enter the amount to add to your wallet:</label>
  		<input type="text" class="form-control" id="amount" name="amount">
  		<br>
        <button class="btn btn-primary" type="submit">Add funds</button>
    </form>

{% endblock %}