{% extends "qracker/base.html" %}

{% block title_block %}
	Your Profile
{% endblock %}

{% block body_block %}
	<br>
	<h1>Your Profile</h1>
	<table class="table table-bordered table-striped">
		<tbody>
		<tr>
			<th>Username</th>
			<th>{{ user.username }}</th>
		</tr>
		<tr>
			<th>Level</th>
			<th><strong>{{ level }}</strong></th>
		</tr>
		{% if userprofile.picture %}
		<tr>
			<th>Picture</th>
			<th><img src="{{ MEDIA_URL}}{{ userprofile.picture }}" style="width:40%"/></th>
		</tr>
		{% endif %}
		<tr>
			<th>Email</th>
			<th>{{ user.email }}</th>
		</tr>
		<tr>
			<th>Phone Number</th>
			<th>{{ userprofile.phone_number }}</th>
		</tr>
		<tr>
			<th>Location</th>
			<th>{{ userprofile.location }}</th>
		</tr>
		<tr>
			<th>Wallet</th>
			<th>{{ userprofile.wallet }}
		</th>
		</tbody>
	</table>

	{% if payment %}
	<h1>Payment Information</h1>
	<table class="table table-bordered table-striped">
		<tbody>
		<tr>
			<th>Card number</th>
			<th>{{ payment.creditcard_number }}</th>
		</tr>
		<tr>
			<th>Expiration month</th>
			<th>{{ payment.expiration_month }}</th>
		</tr>
		<tr>
			<th>Expiration year</th>
			<th>{{ payment.expiration_year }}</th>
		</tr>
		</tbody>
	</table>
	{% endif %}

	<form role="form" id="add_funds" method="get" action="/userprofile/addfunds/">
        <button class="btn btn-primary" type="submit">Add funds</button>
    </form>

    <br>
	<h1>Completed Requests</h1>
	{% if requests %}
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Restaurant</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Tip</th>
                <th>Quantity</th>
                <th>Pickup Location</th>
                <th>Order Time</th>
                <th>Completed Time</th>         
                <th>Deliverer</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.item.supplier }}</td>
                <td>{{ request.item.name }}</td>
                <td>{{ request.item.price }}</td>
                <td>{{ request.tip }}</td>
                <td>{{ request.quantity }}</td>
                <td>{{ request.pickup_loc }}</td>
                <td>{{ request.creation_time }}</td>
                <td>{{ request.delivery_time }}</td>
                <td>
	                <form role="form" id="view_other_profile" method="get" action="/userprofile/viewotherprofile/">
	                    <button class="btn btn-primary" type="submit" name="username" value="{{ request.delivers }}">
	                    {{ request.delivers }}
	                    </button>
	                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <strong>You have not completed any requests.</strong>
    {% endif %}

    <br>
	<h1>Completed Deliveries</h1>
	{% if deliveries %}
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Restaurant</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Tip</th>
                <th>Quantity</th>
                <th>Delivery Location</th>
                <th>Order Time</th>
                <th>Completed Time</th>         
                <th>Requester</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.item.supplier }}</td>
                <td>{{ delivery.item.name }}</td>
                <td>{{ delivery.item.price }}</td>
                <td>{{ delivery.tip }}</td>
                <td>{{ delivery.quantity }}</td>
                <td>{{ delivery.pickup_loc }}</td>
                <td>{{ delivery.creation_time }}</td>
                <td>{{ delivery.delivery_time }}</td>
                <td>
	                <form role="form" id="view_other_profile" method="get" action="/userprofile/viewotherprofile/">
	                    <button class="btn btn-primary" type="submit" name="username" value="{{ delivery.initiates }}">
	                    {{ delivery.initiates }}
	                    </button>
	                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <strong>You have not completed any deliveries.</strong>
    {% endif %}
    <br>

{% endblock %}