{% extends "qracker/base.html" %}

{% block title_block %}
	Your Profile
{% endblock %}

{% block body_block %}
	<br>
	<h1>Your Profile</h1>
	<table class="table table-bordered table-striped">
		<tbody>
		<tr>
			<th>Username</th>
			<th>{{ user.username }}</th>
		</tr>
		<tr>
			<th>Email</th>
			<th>{{ user.email }}</th>
		</tr>
		<tr>
			<th>Phone Number</th>
			<th>{{ userprofile.phone_number }}</th>
		</tr>
		<tr>
			<th>Location</th>
			<th>{{ userprofile.location }}</th>
		</tr>
		<tr>
			<th>Wallet</th>
			<th>{{ userprofile.wallet }}
		</th>
		</tbody>
	</table>
	
	{% if payment %}
	<h1>Payment Information</h1>
	<table class="table table-bordered table-striped">
		<tbody>
		<tr>
			<th>Card number</th>
			<th>{{ payment.creditcard_number }}</th>
		</tr>
		<tr>
			<th>Expiration month</th>
			<th>{{ payment.expiration_month }}</th>
		</tr>
		<tr>
			<th>Expiration year</th>
			<th>{{ payment.expiration_year }}</th>
		</tr>
		</tbody>
	</table>
	{% endif %}

	<form role="form" id="add_funds" method="get" action="/userprofile/addfunds/">
        <button class="btn btn-primary" type="submit">Add funds</button>
    </form>
{% endblock %}