# Migrations
menu/migrations/*
orders/migrations/*
userprofile/migrations/*

# Media
media/*

# Compiled python files
*.pyc

# PyCharm Files
.idea/*

# Mac artifacts
.DS_Store

# PyCharm files
manage.sublime-workspace