{% extends 'qracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Deliveries
{% endblock %}

{% block body_block %}
    <br>
	<h1>My Deliveries</h1>

	{% if transactions %}
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Restaurant</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delivery Location</th>
                <th>Order Time</th>
                <th>Requester</th>
                <th>Exchange?</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <th>{{ transaction.item.supplier }}</th>
                <th>{{ transaction.item.name }}</th>
                <th>{{ transaction.item.price }}</th>
                <th>{{ transaction.quantity }}</th>
                <th>{{ transaction.pickup_loc }}</th>
                <th>{{ transaction.creation_time }}</th>
                <th>{{ transaction.initiates }}</th>
                <th>
                    <form role="form" id="deliverer_exchange" method="get" action="/orders/delivererexchange/">
                        <button class="btn btn-primary" type="submit" name="transactionid" value="{{ transaction.id }}">Exchange</button>
                    </form>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <strong>You do not have any items to deliver.</strong>
    {% endif %}

{% endblock %}