{% extends 'qracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Open Requests
{% endblock %}

{% block body_block %}
    <br>
	<h1>Open Requests</h1>

	{% if transactions %}
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Restaurant</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delivery Location</th>
                <th>Order Time</th>
                <th>Requester</th>
                <th>Tip</th>
                <th>Pickup?</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.item.supplier }}</td>
                <td>{{ transaction.item.name }}</td>
                <td>{{ transaction.item.price }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.pickup_loc }}</td>
                <td>{{ transaction.creation_time }}</td>
                <td>
                    <form role="form" id="view_other_profile" method="get" action="/userprofile/viewotherprofile/">
                        <button class="btn btn-primary" type="submit" name="username" value="{{ transaction.initiates }}">
                        {{ transaction.initiates }}
                        </button>
                    </form>
                </td>
                <td>{{ transaction.tip }}</td>
                <td>
                    <form role="form" id="pickup_item" method="get" action="/orders/pickupitem/">
                        <button class="btn btn-primary" type="submit" name="transactionid" value="{{ transaction.id }}">Pickup</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <strong>There are no currently open requests.</strong>
    {% endif %}

{% endblock %}