<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Open Orders</title>
</head>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>

<body>
<h1>Open Orders</h1>
<a href="{% url 'index' %}"><strong>Return to home</strong></a><br><br>
<div>
    {% if orders %}
    <table>
        <tr>
            <th>Timestamp (GMT)</th>
            <th>Name</th>
            <th>Item Name</th>
            <th>Restaurant</th>
        </tr>
        {% for order in orders %}
        <tr>
            <th>{{ order.creation_time }}</th>
            <th>{{ order.user_name }}</th>
            <th>{{ order.item_name }}</th>
            <th>{{ order.restaurant_name }}</th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>There are no orders present.</strong>
    {% endif %}
</div>

</body>
</html>
