{% extends 'qracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Report
{% endblock %}

{% block body_block %}
    <br>
	<h1>Telemarketer Report</h1>

	{% if transactions %}
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Restaurant</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delivery Location</th>
                <th>Order Time</th>
                <th>Requester</th>
                <th>Deliverer</th>
                <th>Feedback Avg</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <th>{{ transaction.item.supplier }}</th>
                <th>{{ transaction.item.name }}</th>
                <th>{{ transaction.item.price }}</th>
                <th>{{ transaction.quantity }}</th>
                <th>{{ transaction.pickup_loc }}</th>
                <th>{{ transaction.creation_time }}</th>
                <th>{{ transaction.initiates }}
                    <br>
                    {{ transaction.initiates.userprofile.phone_number }}
                </th>
                <th>{{ transaction.delivers }}
                    <br>
                    {{ transaction.delivers.userprofile.phone_number }}
                </th>
                <th><p id="avg{{ transaction.id }}"></p></th>
                <script>
                var timeliness = {{ transaction.timeliness}};
                var friendliness = {{ transaction.friendliness}};
                var responsetime = {{ transaction.responsetime}};
                var avg{{ transaction.id }} = ((timeliness + friendliness + responsetime) / 3).toFixed(2);
                document.getElementById("avg{{ transaction.id }}").innerHTML = avg{{ transaction.id }};
                </script>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <strong>You do not have any transaction history.</strong>
    {% endif %}

{% endblock %}