{% extends 'qracker/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Add Items
{% endblock %}

{% block body_block %}
    <div>
        <br>
        <h1>Add an Item</h1>
        <form role="form" id="order_form" method="post" action="/menu/additem/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br>
        {% endfor %}
        <br>
        <button class="btn btn-primary" type="submit" name="submit">Create Item</button>
    </form>
    </div>
{% endblock %}