<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>MacDonald's</th>
   
  </tr>
  <tr>
    <td>Username:</td>
    
    <td>

	<form>
		<br>
		<input type="text" username="User ID"><br>
	</form>

    </td>


  </tr>
  <tr>
    <td>Items</td>
    <td>

		<select>
		  <option value="Hash Brown">Hash Brown</option>
		  <option value="Coffee">Coffee</option>
		  <option value="Egg McMuffin">Egg McMuffin</option>
		  <option value="Sausage">Sausage</option>
		</select>

    </td>
    

  </tr>
  <tr>
    <td></td>
    <td>
		<form action="/action_page.php">
		  <input type="submit">
		</form>

</td>

  </tr>

</table>

</body>
</html>

