{% extends 'qracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search for an Item
{% endblock %}

{% block body_block %}
    <form id="search_form" method="get" action="/menu/search/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br>
        {% endfor %}
        <input type="submit" name="submit" value="Search Item"/>
    </form>
{% endblock %}