{% extends 'qracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search Results
{% endblock %}

{% block body_block %}
    <br>
    <h1>Search Results</h1>

    {% if results %}
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Restaurant</th>
                <th>Food or Drink?</th>
                <th>Breakfast?</th>
                <th>Lunch?</th>
                <th>Request Item?</th>
            </tr>
        </thead>
        <tbody>
            {% for item in results %}

            {% if item.promo_flag %}
            <tr style="font-weight:bold; color:#BF1236;">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.supplier }}</td>
                <td>{{ item.food_or_drink }}</td>
                {% if item.is_breakfast %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                {% if item.is_lunch %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td>
                    <form role="form" id="order_item" method="get" action="/menu/orderitem/">
                        <!--{% csrf_token %}-->
                        <button class="btn btn-primary" type="submit" name="itemid" value="{{ item.id }}">Request</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <strong>Your search yielded no results, please try again.</strong>
    {% endif %}
{% endblock %}