{% extends 'qracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search Results
{% endblock %}

{% block body_block %}
    <br>
    <h1>Search Results</h1>

    {% if results %}
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Restaurant</th>
                <th>Food or Drink?</th>
                <th>Breakfast?</th>
                <th>Lunch?</th>
                <th>Request Item?</th>
            </tr>
        </thead>
        <tbody>
            {% for item in results %}
            <tr>
                <th>{{ item.name }}</th>
                <th>{{ item.price }}</th>
                <th>{{ item.supplier }}</th>
                <th>{{ item.food_or_drink }}</th>
                {% if item.is_breakfast %}
                    <th>Yes</th>
                {% else %}
                    <th>No</th>
                {% endif %}
                {% if item.is_lunch %}
                    <th>Yes</th>
                {% else %}
                    <th>No</th>
                {% endif %}
                <th>
                    <form role="form" id="order_item" method="get" action="/menu/orderitem/">
                        <!--{% csrf_token %}-->
                        <button class="btn btn-primary" type="submit" name="itemid" value="{{ item.id }}">Request</button>
                    </form>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <strong>Your search yielded no results, please try again.</strong>
    {% endif %}
{% endblock %}