<!DOCTYPE html>
{% load staticfiles %}

<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>

<html>
	<head>
		<title>
		Qracker - 
		{% block title %}
			Home
		{% endblock %}
		</title>
	</head>

	<body>
		<div>
			{% block body_block %}
			{% endblock %}
		</div>

		<hr />

		<div>
			<ul>
				<li><a href="{% url 'mcdonalds' %}">McDonald's Menu</a></li>
				<li><a href="{% url 'tacobell' %}">Taco Bell Menu</a></li>
				<li><a href="{% url 'open_orders' %}">Open Orders</a></li>
				<li><a href="{% url 'register' %}">Sign Up</a></li>
			</ul>
		</div>
	</body>
</html>