<!DOCTYPE html>

{% load staticfiles %}


<html>
<head>
    <title>Qracker Home</title>
</head>
<body>

<img src="{% static "images/qracker.jpeg" %}" alt="Qracker" style="width:304px;">

<h1>Welcome to Qracker!</h1>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>

<div>
    <a href="/menu/mcdonalds/">McDonald's Menu</a><br/>
    <a href="/menu/tacobell/">Taco Bell Menu</a><br/>
    <a href="/orders/open/">Open Orders</a><br/>
</div>

</body>
</html> 