{% extends 'qracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Qracker
{% endblock %}

{% block body_block %}
    <img src="{% static "images/qracker.jpeg" %}" alt="Qracker" style="width:304px;">
    <h1>Welcome to Qracker!</h1>
{% endblock %}

<!--
<!DOCTYPE html>

{% load staticfiles %}

<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>

<html>
<head>
    <title>Qracker Home</title>
</head>
<body>

<img src="{% static "images/qracker.jpeg" %}" alt="Qracker" style="width:304px;">

<h1>Welcome to Qracker!</h1>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>

<div>
    <ul>
        <li><a href="{% url 'additem' %}">Add Item to Menu</a></li>
        <li><a href="{% url 'open_orders' %}">Open Orders</a></li>
        <li><a href="{% url 'register' %}">Sign Up</a></li>
        <li><a href="{% url 'browse' %}">Browse</a></li>
    </ul>
</div>

</body>
</html>
-->